<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="package-hub/semver">
        <directory>./PhSemVerTest</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/PhSemVer</directory>
        </whitelist>
    </filter>
</phpunit>
